body {
    font-family: "Tahoma", sans-serif;
    background-color: #008080;
    margin: 0;
    padding: 0;
}
.window {
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
    background-color: white;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.6);
}
.content {
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: black;
}
a {
    color: #000080;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
}
tr, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}
p, a {
    font-size: 15px;
}